<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.globalroam.monitor.dao.Impl.RecordDaoImpl">
	<resultMap id="recordList" type="com.globalroam.monitor.domain.Record">
		<result column="RN" property="no"/>
		<result column="ID" property="id"/>
		<result column="DateTime" property="date"/>
		<result column="RecordName" property="name"/>
		<result column="RecordValue" property="value"/>
		<result column="UserID" property="userId"/>
	</resultMap>

	<select id="getAll" resultMap="recordList" parameterType="java.util.Map">
        <![CDATA[
			  SELECT
				ID AS ID,
				Date_Time AS DateTime,
				Record_Name AS RecordName,
				Record_Value AS RecordValue,
				UserId AS UserId
			  FROM
				record
			  WHERE
				UserID = #{userId}
			  AND Date_Time >= DATE_FORMAT (#{fromDate}, #{format})
			  AND Date_Time <= DATE_FORMAT (#{toDate}, #{format})
		      LIMIT #{startIndex} , #{endIndex}
        ]]>
    </select>

	<select id="delete" resultType="java.lang.Integer" parameterType="java.util.Map">
		<![CDATA[
			  DELETE FROM record
			  WHERE id = #{id}
        ]]>
	</select>

	<select id="add" resultType="java.lang.Integer" parameterType="java.util.Map">
		<![CDATA[
			  insert into record (Date_Time,Record_Name,Record_Value,UserID)
			  VALUE(NOW(),
			  #{recordName},
			  #{recordValue},
			  #{id})
        ]]>
	</select>

	<select id="update" resultType="java.lang.Integer" parameterType="java.util.Map">
		<![CDATA[
			  update record
			  SET Record_Name = #{recordName} ,
			  		Record_Value = #{recordValue}
			  Where id = #{id}
        ]]>
	</select>

	<select id="exist" resultMap="recordList" parameterType="java.util.Map">
		<![CDATA[
			  SELECT
				ID AS ID,
				Date_Time AS DateTime,
				Record_Name AS RecordName,
				Record_Value AS RecordValue,
				UserId AS UserId
			  FROM
				record
			  WHERE
				Record_Name = #{recordName}
        ]]>
	</select>
</mapper>