<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-3.0.xsd  
    http://www.springframework.org/schema/data/jpa   
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 配置c3p0数据源 -->
	<bean id="dataSourcePfingo" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${oracle.jdbc.driverClassName}"/>
		<property name="jdbcUrl" value="${oracle.pfingo.jdbc.url}"/>
		<property name="user" value="${oracle.pfingo.jdbc.username}"/>
		<property name="password" value="${oracle.pfingo.jdbc.password}"/>

		<property name="maxStatements" value="${c3p0.maxStatements}"></property>
		<property name="acquireIncrement" value="${c3p0.acquireIncrement}"></property>
		<property name="initialPoolSize" value="${c3p0.initialPoolSize}"></property>
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}"></property>
		<property name="maxPoolSize" value="${c3p0.maxPoolSize}"></property>
		<property name="minPoolSize" value="${c3p0.minPoolSize}"></property>

		<property name="acquireRetryDelay" value="${c3p0.acquireRetryDelay}"></property>
		<property name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}"></property>
		<property name="breakAfterAcquireFailure" value="${c3p0.breakAfterAcquireFailure}"></property>
	</bean>

	<bean id="dataSourceGnum" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${oracle.jdbc.driverClassName}"/>
		<property name="jdbcUrl" value="${oracle.gnum.jdbc.url}"/>
		<property name="user" value="${oracle.gnum.jdbc.username}"/>
		<property name="password" value="${oracle.gnum.jdbc.password}"/>


		<property name="maxStatements" value="${c3p0.maxStatements}"></property>
		<property name="acquireIncrement" value="${c3p0.acquireIncrement}"></property>
		<property name="initialPoolSize" value="${c3p0.initialPoolSize}"></property>
		<property name="maxIdleTime" value="${c3p0.maxIdleTime}"></property>
		<property name="maxPoolSize" value="${c3p0.maxPoolSize}"></property>
		<property name="minPoolSize" value="${c3p0.minPoolSize}"></property>

		<property name="acquireRetryDelay" value="${c3p0.acquireRetryDelay}"></property>
		<property name="acquireRetryAttempts" value="${c3p0.acquireRetryAttempts}"></property>
		<property name="breakAfterAcquireFailure" value="${c3p0.breakAfterAcquireFailure}"></property>
	</bean>

	<!-- 配置SqlSessionFactoryBean -->
	<bean id="pfingoSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourcePfingo"/>
		<!-- mapper和resultmap配置路径 -->
		<property name="mapperLocations">
			<list>
				<!-- 表示在com.hoo目录下的任意包下的resultmap包目录中，以-resultmap.xml或-mapper.xml结尾所有文件 -->
				<!--<value>classpath:com/globalroam/monitor/dao/*-mapper.xml</value>-->
				<value>classpath:com/globalroam/monitor/**/dao/map/*-mapper.xml</value>
			</list>
		</property>
	</bean>

	<!-- 配置SqlSessionFactoryBean -->
	<bean id="gnumSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceGnum"/>
		<!-- mapper和resultmap配置路径 -->
		<property name="mapperLocations">
			<list>
				<!-- 表示在com.hoo目录下的任意包下的resultmap包目录中，以-resultmap.xml或-mapper.xml结尾所有文件 （oracle和mysql扫描的配置和路径不一样，如果是公共的都扫描 这里要区分下，不然就报错 找不到对应的表、视图）-->
				<!--<value>classpath:com/globalroam/monitor/**/dao/*-mapper.xml</value>-->
				<value>classpath:com/globalroam/monitor/**/dao/map/*-mapper.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sqlSessionGnum" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="gnumSqlSessionFactory" />
		<!--如果想要进行批量操作可加入这个属性 -->
		<!-- <constructor-arg index="1" value="BATCH" /> -->
	</bean>

	<bean id="sqlSessionPfingo" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="pfingoSqlSessionFactory" />
		<!--如果想要进行批量操作可加入这个属性 -->
		<!-- <constructor-arg index="1" value="BATCH" /> -->
	</bean>

	<bean id="mdsSqlSession" class="com.globalroam.monitor.common.MDSSqlSession">
		<property name="sqlSessionMap">
				<map>
					<entry key="GNUM"  value-ref="sqlSessionGnum"/>
					<entry key="PFINGO" value-ref="sqlSessionPfingo"/>
				</map>
		</property>
	</bean>


</beans>