<div class="CE-Modal" title="Add Privilege">
    <form class="form-horizontal" action="${path}/management/privilege/add" method="post" id="addPrivilege" >
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="name">Privilege Name:</label>
                <div class="controls">
                    <input type="text"  name="name" id="name" placeholder="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="uri">URI:</label>
                <div class="controls">
                    <input type="text"  name="uri" id="uri" placeholder="">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-small" data-loading-text="Saving..."><i class="icon-ok"></i>Save</button>
        </div>
    </form>
    <script type="text/javascript">
        $(function(){
            CEUtil.formValidtor.modalValid({
                handler:"#addPrivilege",
                rules : {
                    name :{
                        required : true
                        ,remote : "${path}/management/privilege?func=exist"
                    },
                    url : {
                        required : true,
                        remote : "${path}/management/privilege?func=exist"
                    }
                }
                ,messages : {
                    name : {
                        required : "Privilege Name can not be empty",
                        remote:"The privilege name has been used,please change another one."
                    },
                    url : {
                        required : "URI can not be empty",
                        remote : "URI has beed used,please change another one."
                    }
                }
            })
        });
    </script>
</div>

