<div class="CE-Modal" title="Add User">
    <form class="form-horizontal" action="${path}/management/user/add" method="post" id="addUser">
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="name">Username:</label>

                <div class="controls">
                    <input type="text" name="name" id="name" placeholder=""/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="realname">Realname:</label>

                <div class="controls">
                    <input type="text" name="realname" id="realname" placeholder="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">Email:</label>

                <div class="controls">
                    <input type="email" name="email" id="email" placeholder="email例如:xxx@126.com">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password:</label>

                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="confirmPassword">Confirm Password:</label>

                <div class="controls">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confPassword">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="confirmPassword">Project Name:</label>
                <div class="controls">
                    <select name="project">
                        <option value="GNUM" selected="selected">GNUM</option>
                        <option value="PFINGO">PFINGO</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-small" data-loading-text="Saving..."><i
                    class="icon-ok"></i>Save
            </button>
        </div>
    </form>
    <script type="text/javascript">
        $(function () {
            CEUtil.formValidtor.modalValid({
                handler: "#addUser",
                rules: {
                    name: {
                        required: true
                        , remote: "${path}/management/user?func=exist"
                    },
                    realname: {
                        required: true
                    },
                    email: {
                        email: true
                    },
                    password: {
                        required: true
                    }
                    , confirmPassword: {
                        required: true
                        , equalTo: $("#addUser").find("input[name='password']")
                    }
                }
                , messages: {
                    name: {
                        remote: "The username has been used,please change another one."
                    }
                }
            })
        });
    </script>

</div>
