<div class="CE-Modal" title="Add Menu">
    <form class="form-horizontal" action="${path}/management/menu/add" method="post" id="addMenu">
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="name">Parent Menu:</label>

                <div class="controls">
                    <select name="parentId">
                        <option value="">---Choose a parent menu---</option>
                        [@ec_menu queryType="tree";list]
                        [@EC.ec_select_tree nodes=list selectId=""/]
                        [/@ec_menu]
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="name">Menu Name:</label>

                <div class="controls">
                    <input type="text" name="name" id="name" placeholder="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="uri">Privilege:</label>

                <div class="controls">
                    <select name="privilegeId">
                        <option value="">-- Choose privileges --</option>
                        [@ec_privilege queryType="list" type="free";list]
                        [#if list??]
                        [#list list as p]
                        <option value="${p.id!}">${p.name!} - ${p.uri!}</option>
                        [/#list]
                        [/#if]
                        [/@ec_privilege]
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="seq">Sequence:</label>

                <div class="controls">
                    <input type="text" maxlength="200" name="seq" id="seq"
                           placeholder="Larger value will order top，value range:0~200">

                    <p class="text-warning">(Larger value will order top，value range:0~200)</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="iconClass">Icon Style:</label>

                <div class="controls">
                    <input type="text" name="style" id="iconClass" placeholder="The css style ，e.g:icon-user ">
                </div>
            </div>
            [#--
            <div class="control-group">
                <label class="control-label" for="uri">Icon Preview:</label>

                <div class="controls">
                    <span id="showIcon" style="width:40px;float: left;overflow: hidden;"></span>
                    [@EC.upload
                    url="${path}/management/menu/upload;jsessionid=${session_id!}"
                    fileSizeLimit = "20KB"
                    filters = "*.jpg;*.gif;*.png"
                    callback = "showIcon(file,newFilename,response)"
                    /]
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <span style="color: #999;">Upload file suffix between (gif,png,jpg)，file size can not greater than 20KB</span>

                    <div id="uploadQueue"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="icon">Icon:</label>

                <div class="controls">
                    <input type="text" name="iconPath" id="icon" placeholder="">
                </div>
            </div>
        </div>
        --]
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-small" data-loading-text="Saving..."><i
                    class="icon-ok"></i>Save
            </button>
        </div>
    </form>
    <script type="text/javascript">
        $(function () {
            CEUtil.formValidtor.modalValid({
                handler: "#addMenu",
                rules: {
                    name: {
                        required: true
                        , remote: "${path}/management/menu?func=exist"
                    },
                    url: {
                        required: false
                    }
                }
                , messages: {
                    name: {
                        remote: "Privilege Name has been used,please change another one."
                    }
                }
            })
        });
    </script>
</div>
