[@EC.breadcrumbs/]

<div id="page-content" class="clearfix">
    <div class="page-header position-relative">
        <h1>Add Model
        <button class="btn btn-small btn-primary pull-right" onclick="CEUtil.loadFile('/management/content/model');" >
            <i class="icon-reply"></i>Return Previous
        </button>
        </h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
	        <div class="tabbable">
	            <ul class="nav nav-tabs" id="modelTab">
	              <li class="active"><a data-toggle="tab" href="#nodeModel" id="nodeModelTab">Node Model</a></li>
	              <li class="hidden"><a data-toggle="tab" href="#contentModel" id="contentModelTab">Content Model</a></li>
	            </ul>
	            <div class="tab-content">
				  <div id="nodeModel" class="tab-pane in active">
				  	<div id="modelTips" style="display: none;">
					  	<p>You have opened Content Model，do you want to add Content Model?</p>
					  	<div class="form-actions">
			                <button class="btn btn-small" type="button" id="cancelAdd">
			                    <i class="icon-undo"></i> No
			                </button>
			                &nbsp; &nbsp; &nbsp;
			                <button class="btn btn-small btn-success" type="button" id="continueAdd">
			                    <i class="icon-ok"></i> Yes
			                </button>
			            </div>
				  	</div>
				  	
					<form class="form-horizontal " action="${path!}/management/content/model/add" method="post" id="nodeModelForm">
	                    <input type="hidden" name="id" value="" id="nodeModelId"/>
	                    <input type="hidden" name="modelType" value="NODE" />
	                    <div class="row-fluid">
		                	<div class="span6">
					            <div class="control-group">
					                <label class="control-label" for="modelName">Model Name:</label>
					                <div class="controls">
					                    <input type="text" placeholder="" id="modelName" name="modelName" value="">
					                </div>
					            </div>
		                	</div>
		                	<div class="span6">
					            <div class="control-group">
					                <label class="control-label" for="code">Code:</label>
					                <div class="controls">
					                    <input type="text" id="code" placeholder="you can use code to get data" name="code" value="">
					                </div>
					            </div>
		                	</div>
	                	</div>
	                	<div class="row-fluid">
		                	<div class="span6">
					            <div class="control-group">
					                <label class="control-label" for="templateFile">Template File:</label>
					                <div class="controls">
					                    <input type="text" id="templateFile" placeholder="" name="templateFile" value="" readonly="readonly">
					                    <a class="btn btn-mini" href="javascript:CEUtil.modal.open({url:'${path}/management/template?target=templateFile&filter=html'})">Choose</a>
					                    <a class="btn btn-danger btn-mini" href="javascript:CEUtil.cleanVal('#templateFile');">Clean</a>
					                </div>
					            </div>
		                	</div>
		                	<div class="span6">
					            <div class="control-group">
					                <label class="control-label">Open Content Model:</label>
					                <div class="controls">
					                    <input name="openContent" class="ace-switch ace-switch-6" type="checkbox" value="true"/><span class="lbl"></span>
					                </div>
					            </div>
		                	</div>
	                	</div>
	                	<div class="row-fluid">
		                	<div class="span6">
					            <div class="control-group">
					                <label class="control-label">Staticize:</label>
					                <div class="controls">
					                    <input name="openStatic" class="ace-switch ace-switch-6" type="checkbox" value="true"/><span class="lbl"></span>
					                </div>
					            </div>
		                	</div>
	                	</div>
			
			            <div class="form-actions">
			                <button class="btn btn-small" type="reset">
			                    <i class="icon-undo"></i> Reset
			                </button>
			                &nbsp; &nbsp; &nbsp;
			                <button class="btn btn-small btn-success" type="submit" data-loading-text="Saving...">
			                    <i class="icon-ok"></i> Save
			                </button>
			            </div>
			        </form>
				  </div>
				  <div id="contentModel" class="tab-pane"></div>
	            </div>
			</div>
        </div>
        <!-- PAGE CONTENT ENDS HERE -->
    </div>
</div>

<script type="text/javascript">
	$(function() {
		var $contentModelTab = $('#contentModelTab');
		var $nodeModelTab = $('#nodeModelTab');
		var $contentWrap = $contentModelTab.parent("li");
		var $nodeWrap = $nodeModelTab.parent("li");
		var link = path + "/management/content/model/add?func=addContentModel&id=";
		CEUtil.formValidtor.valid({
			handler:"#nodeModelForm",
			rules : {
				modelName : {
        			required : true
        		},
        		code : {
        			required : true
        		},
        		templateFile : {
        			required:true
        		}
        	},
        	callbackFunc:function(data){
        		if(data.code == "1000") {
        			if(data.response.openContent) {
        				link += data.response.id;
        				$("#modelTips").show();
        				$("#nodeModelForm").hide();
        				$("#cancelAdd").on("click",function(){
							CEUtil.loadFile('/management/content/model');
        				})
        				$("#continueAdd").on("click",function(){
        				 	$contentWrap.removeClass("hidden");
        				 	$nodeWrap.hide();
        				 	$contentModelTab.tab("show");
        				})
        				
        			}else{
						CEUtil.loadFile('/management/content/model');
        			}
        		}
        		
        		
        	}
		})
		
		$contentModelTab.on('shown.bs.tab', function (e) {
			//alert(link)
			CEUtil.loadFile(link,"#contentModel");
		})
	})
	
</script>
