[@EC.breadcrumbs/]
<div id="page-content" class="widget-box">
	<div class="page-header position-relative">
	       <h1>Resources Repository</h1>
	</div>
    <!--<div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">-->
        <!--<h4 class="lighter">Resources Repository</h4>-->
    <!--</div>-->
    <!--<div class="widget-body">-->
        <!--<div class="widget-main"></div>-->
    <!--</div>-->
    <div id="resourcesRepository"></div>
</div>
 <script type="text/javascript">
$(function() {
    // You can use the "CKFinder" class to render CKFinder in a page:
    var finder = new CKFinder();
    // The path for the installation of CKFinder (default = "/ckfinder/").
    finder.basePath = '/uploadFiles/';
    var frameHeight = ($("body").innerHeight() - 200);
//    console.log("==>window height:" + frameHeight);
    finder.height = frameHeight;
    finder.appendTo( "resourcesRepository" );
})
</script>