<div class="CE-Modal" title="Edit Department">
    [#assign mid = form.id[0] /]
    [@ec_member id=mid;m]
    <form class="form-horizontal" action="${path}/management/member/password" method="post" id="resetMemberPassword">
        <input type="hidden" name="id" value="${m.id!}"/>

        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="password">Password:</label>

                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="confirmPassword">Confirm Password:</label>

                <div class="controls">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confPassword">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-small btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-small btn-primary" data-loading-text="Saving...">Save</button>
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            CEUtil.formValidtor.modalValid({
                handler: "#resetMemberPassword",
                rules: {
                    password: {
                        required: true
                    }
                    , confirmPassword: {
                        required: true
                        , equalTo: $("#resetMemberPassword").find("input[name='password']")
                    }
                }
            })
        });
    </script>
    [/@ec_member]
</div>

